{
    "check-coverage": true,
    "per-file": false,
    "lines": 100,
    "statements": 100,
    "functions": 100,
    "branches": 100,
    "extension": [
        ".js"
    ],
    "exclude": [],
    "include": [
        "lib/*.js"
    ],
    "reporter": [
        "lcov",
        "json",
        "text"
    ],
    "all": true
}
